@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-light: var(--font-poppins);
  --font-black: var(--font-poppinsBlack)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 	black;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-light);
}
::-webkit-scrollbar {
    display: none;
}
.box{
  @apply px-1 relative w-[270px] h-[210px] backdrop-blur-[8px]  bg-[rgba(83,83,83,0.1)]  flex flex-col justify-center items-center rounded-md p-2 border;
}
.nocursor{
  @apply pointer-events-none
}
.blackPop{
  font-family: var(--font-black);
  font-weight: 900;
}